.inp{
    padding: 2px 30px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    transition: border-color .15s;
    margin: 15px;
    width: 260px;
    text-align: center;
}
.PaymentForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-actions{
    background-color:rgb(3, 3, 3);
    font-size: 1rem;
    width: 120px;
    height: 40px;
    color: #fff;
    border-radius: 25px;
    margin: 15px;

}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-logo{
    height: 50px;
    width: 80px;
}
