.lowest{
    background: url("https://www.tesla.com/sites/default/files/solarpanels/hero/D_solarpanels_hero_2880x1800_ENC.jpg") no-repeat center center;
    background-size: 100%;
    
}
.solar{
    background: url("https://www.tesla.com/sites/default/files/solarroof/v3/value/solar-roof_value_D.jpg") no-repeat center center;
    background-size: 100%;
    
}